/* konten search anime/manga */
.search-section {
  padding: 1.5rem 2rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px #A9443820;
  font-family: 'Poppins', sans-serif;
}

.search-section form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.search-section input[type="text"] {
  flex: 1;
  padding: 0.6em 1em;
  border-radius: 6px;
  border: 1px solid #E6BAA3;
  font-size: 1.08rem;
}

.search-section button {
  background: #a83232;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.6em 1.5em;
  font-size: 1.08rem;
  cursor: pointer;
}

.search-section button:hover {
  background: #d94c4c;
}

#genre-select,
#type-select {
  padding: 0.4em 1em;
  border-radius: 6px;
  border: 1px solid #E6BAA3;
  font-size: 1.05rem;
}

/* breakpoint */
@media (max-width: 780px) {
  .search-section form {
    flex-direction: column;
  }

  .search-section input[type="text"],
  .search-section button {
    width: 100%;
  }
}

/* universal (ex-index) */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
  margin-top: 1.5rem;
  min-height: 200px;
  animation: fadeIn 1.5s ease-in-out;
}

/* pagination universal */
.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  justify-content: center;
  margin: 2rem 0;
}

.pagination button {
  background: #fff;
  color: #A94438;
  border: 1px solid #E6BAA3;
  border-radius: 4px;
  padding: 0.3em 0.7em;
  font-size: 1.05rem;
  cursor: pointer;
}

.pagination button.active,
.pagination button:hover {
  background: #A94438;
  color: #fff;
}

/* tablet */
@media (max-width: 780px) {

  .search-section {
    padding: 1.0rem 1.5rem;
    margin-bottom: 1rem;
  }

  .search-section form {
    gap: 0.8rem;
    margin-bottom: 0.2rem;
  }

  .search-section input[type="text"] {
    padding: 0.4em 1em;
    font-size: 1.0rem;
  }

  .search-section button {
    font-size: 1.0rem;
  }

  #genre-select,
  #type-select {
    padding: 0.4em 1em;
    font-size: 1.0rem;
  }

  .card-container {
    margin-top: 1.0rem;
    gap: 1.0rem;
  }

  .pagination {
    margin: 1.5rem 0;
  }

  .pagination button {
    font-size: 1.0rem;
  }
}

/* handphone */
@media (max-width: 780px) {

  .search-section {
    padding: 0.7rem 1.0rem;
    margin-bottom: 0.9rem;
  }

  .search-section form {
    gap: 0.8rem;
    margin-bottom: 0.2rem;
  }

  .search-section input[type="text"] {
    padding: 0.4em 1em;
    font-size: 0.9rem;
  }

  .search-section button {
    font-size: 0.9rem;
  }

  #genre-select,
  #type-select {
    padding: 0.4em 1em;
    font-size: 0.9rem;
  }

  .card-container {
    margin-top: 1.0rem;
    gap: 0.8rem;
  }

  .pagination {
    margin: 1.0rem 0;
  }

  .pagination button {
    font-size: 0.8rem;
  }
}

/* animasi loading */
.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 40px auto;
}

.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}